/* GLOBAL VARIABLES */
:root {
    --bg-body: #34495E;
    --bg-body2: hsl(0, 0%, 14%);
    --white: #ffffff;
    --text1: #4e5862;
    --text2: hsl(0, 0%, 85%);
    --text3: #18bc9c;
    --invalid: hsl(7, 100%, 68%);
    --bs-font-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* BODY STYLES */
body {
    font-family: var(--bs-font-sans-serif);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text1);
}

/* BACKGROUND STYLES */
.bg-less-dark {
    background-color: var(--bg-body2);
}

/* FOCUS STYLES */
a:focus-visible,
input:focus-visible,
textarea:focus-visible {
    outline: 2px dashed var(--accent);
    outline-offset: 2px;
}

input:invalid,
textarea:invalid {
    outline-color: var(--invalid);
}

/* LINK AND BUTTON STYLES */
a.underline,
button {
    display: inline-block;
    padding-bottom: 0.625rem;
    font-size: 1rem;
    line-height: 1.625;
    letter-spacing: 0.143em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text1);
    text-decoration: none;
    background-image: linear-gradient(to right, var(--accent) 75%, var(--accent) 75%);
    background-position: 0 2.1em;
    background-repeat: repeat-x;
    background-size: 8px 2px;
}

a:hover {
    color: var(--accent);
}

/* IMAGE AND SVG STYLES */
img,
svg {
    display: block;
}

/* VISUALLY HIDDEN ELEMENTS */
.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* WRAPPER STYLES */
.wrapper {
    width: calc(100% - 2rem);
    max-width: var(--container);
    margin-inline: auto;
}

/* CONTAINER STYLES */
.container {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER CONTAINER STYLES */
.header-container {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.header-container h3 {
    margin-left: 0;
}

.header-container nav {
    margin-right: 0;
}

/* HEADER STYLES */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--bg-body2);
    color: var(--white);
    transition: background-color 0.3s;
    z-index: 1000;
}

/* NAV MENU STYLES */
nav {
    position: relative;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* MODE TOGGLE BUTTON */
#mode-toggle {
    border: none;
    cursor: pointer;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/* RESPONSIVE STYLES */
@media (min-width: 768px) and (max-width: 1024px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    #nav-menu {
        width: 200px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #nav-menu li {
        margin: 1rem;
    }

    #nav-menu li a:hover {
        font-size: 18px;
    }

    nav ul.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    header {
        flex-direction: column;
        padding: 0.5rem;
    }

    .header-container nav ul {
        align-items: center;
    }

    .header-container h3 {
        margin: 0.5em 0;
    }

    .header-container nav ul li {
        margin: 0.5em 0;
    }

    main {
        padding: 1em 0;
    }

    #section-left {
        padding: 1rem;
    }

    #home .profile-img {
        width: 10em;
    }

    .contact .contact__rings {
        display: none;
    }
}

/* DARK MODE STYLES */
.dark-mode {
    background-color: var(--bg-body2);
    color: var(--white);
}

.dark-mode header {
    background-color: var(--bg-body);
    color: var(--white);
}

.dark-mode #home .socials a {
    color: var(--white);
    border: 1px solid var(--white);
}

/* MAIN STYLES */
main {
    margin-top: 4rem;
    position: relative;
    padding: 2em 0;
    display: grid;
    grid-template-columns: 1.8fr 2.2fr;
    gap: 2rem;
}

/* HOME SECTION STYLES */
#home {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#home::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: var(--white);
}

#home .profile-img {
    width: 20em;
}

#home .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home .socials a {
    border: 1px solid var(--bg-body2);
    padding: 4px;
    margin-left: 1rem;
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--text1);
    border-radius: 4px;
}

#home .socials i {
    padding: 5px;
}

/* UTILITY STYLES */
.bottom-border {
    border-bottom: 1px solid var(--text2);
}

/* SECTION LEFT STYLES */
#section-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
}

/* PROJECTS SECTION STYLES */
#projects a {
    color: var(--text3);
    font-size: 1rem;
    font-weight: 700;
}

/* CONTACT SECTION STYLES */
.contact {
    position: relative;
    padding: 4rem;
    color: var(--text2);
}

.contact__wrapper {
    padding-block: 84px;
}

.contact__control {
    position: relative;
    margin-block-end: 16px;
    color: var(--text2);
}

.contact__control input,
.contact__control textarea {
    width: 100%;
    padding-block: 16px;
    padding-inline: 24px;
    border: none;
    border-bottom: 1px solid var(--text2);
    background: transparent;
    font-size: 1rem;
    line-height: 1.625;
    color: var(--text2);
}

.contact__control *::placeholder {
    color: var(--text2);
    opacity: 0.5;
    text-transform: uppercase;
}

.contact__control textarea {
    margin-block-end: 32px;
}

.contact__control.align-right {
    display: flex;
    justify-content: flex-end;
}

.contact__control button {
    background-color: transparent;
    color: var(--text2);
    cursor: pointer;
    border: none;
}

.contact__invalid-icon {
    display: none;
    width: var(--fs-24);
    height: var(--fs-24);
    position: absolute;
    top: 50%;
    right: 0;
    translate: -50% -50%;
}

.contact input:focus-visible:invalid~.contact__invalid-icon,
.contact textarea:focus-visible:invalid~.contact__invalid-icon {
    display: inline-block;
}

.contact textarea:focus-visible:invalid~.contact__invalid-icon {
    top: 1.2rem;
    right: 1.5rem;
    translate: none;
}

.contact__rings {
    position: absolute;
    left: 0;
    bottom: 97px;
    translate: -75%;
}

/* FOOTER STYLES */
#footer {
    background-color: var(--bg-body2);
    color: var(--white);
    text-align: center;
    padding: 1rem 0;
    position: relative;
}

.footer-text {
    font-family: 'Arial', sans-serif;
    font-size: 0.9rem;
    margin: 0;
}

.footer-text i {
    color: red;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-container nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-container nav ul li {
        margin: 0.5em 0;
    }

    main {
        grid-template-columns: 1fr;
    }

    #home .profile-img {
        width: 15em;
    }
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    #nav-menu {
        width: 200px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #nav-menu li {
        margin: 1rem;
    }

    #nav-menu li a:hover {
        font-size: 18px;
    }

    nav ul.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    #home i {
        display: none;
    }
        .contact__control input,
        .contact__control textarea {
            width: 75%;
            font-size: .8rem;
            line-height: 1;
        }

    .contact .contact__rings {
        display: none;
    }
}

@media (max-width: 480px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .header-container nav ul {
        align-items: center;
    }

    .header-container nav ul li {
        margin: 0.5em 0;
    }

    .header-container h3 {
        margin: 0.5em 0;
        text-align: center;
    }

    main {
        padding: 0.5em 0;
    }

    #home .profile-img {
        width: 8em;
    }

    .contact__wrapper {
        padding-block: 42px;
    }

    .contact__control {
        margin-block-end: 8px;
    }

    .contact__control input,
    .contact__control textarea {
        padding-block: 8px;
        padding-inline: 12px;
        font-size: 0.875rem;
    }

    .contact__control textarea {
        margin-block-end: 16px;
    }

    .contact__control button {
        font-size: 0.875rem;
    }

    .contact .contact__rings {
        display: none;
    }

    #footer {
        width: 100%;
        padding: 0.5rem 0;
    }

    .footer-text {
        font-size: 0.75rem;
    }
}

@media (min-width: 62.5em) {
    .contact__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 27.8rem);
        justify-content: space-between;
    }

    .contact__headline {
        margin-block-end: var(--fs-36);
    }
}